
<div class="post">

    <div class="content">

        <!-- Gallery -->
        <% if (item.photos && item.photos.length){ %>
            <%- partial('gallery') %>
        <% } %>

        <!-- Post Content -->
        <%- item.content %>
    </div>

    <%
        var tags = [];
        if(item.tags && item.tags.length) {
            item.tags.forEach(function(tag){
                tags.push('<a href="' + config.root + tag.path + '">#' + tag.name + '</a>');
            });
        }
    %>

    <% if(tags.length) { %>
        <div class="post-tags">
            <i class="fa fa-tags" aria-hidden="true"></i>
            <%- tags.join(' ') %>
        </div>
    <% } %>

    <!-- Comments -->
    <% if (theme.comments && theme.comments.disqus_shortname) { %>
    <div class="comments">
        <%- partial("_partial/comments.ejs") %>
    </div>
    <% } %>

</div>